body {
    font-family: monospace;
    margin: 0;
    background: #4CAF50;
}

#app {
    background: #fff;
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

input[type="text"] {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #6cc3ea;
    font-size: 14px;
    margin: 0 5px 5px 0;
}

.dropdown {
    position: absolute;
    top: 53px;
    left: 4px;
}

.btns li {
    float: left;
    list-style: none;
}

.btns li a {
    border: 1px solid #03a9f4;
    padding: 10px;
    background: #03a9f4;
    color: #fff;
    display: block;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.tray {
    display: block;
    font-size: 12px;
    clear: both;
    padding: 10px;
    border: 1px solid #03a9f4;
    background: #fff;
}

.btns li a.active {
    background: #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: -1px;
    color: #60716b;
    text-decoration: none;
}

.red {
    background: #333;
    color: red;
}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.tray img, .tray h1, .tray h2 {
    margin: 0;
    float: left;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

.tray h2, .tray h1 {
    width: 70%;
    padding: 5px;
}

.tray img {
    width: 30%;
    padding: 5px;
}

h1 {
    color: #517b77;
    font-family: sans-serif;
    font-size: 22px;
}

.badge {
    display: block;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid pink;
    margin-bottom: 5px;
}

button {
    border: 1px solid #1994cc;
    outline: 0;
    cursor: pointer;
    background: #03a9f4;
    color: #fff !important;
    padding: 10px 15px;
    margin: 2px;
    border-radius: 3px;
    text-transform: capitalize;
}

.button-group {
    text-align: center;
    display: block !important;
}

.aboutus {
    text-align: center;
}

.aboutus * {
    display: inline-block;
}

.animatable-obj {
    background-color: #607D8B;
    width: 60%;
    height: 200px;
    color: #fff;
    text-align: center;
}

.list-items {
    text-align: center;
    margin: 0;
    padding: 10px 50px;
}

.list-items li {
    list-style: none;
    padding: 10px;
    display: block;
    border: 1px solid #00BCD4;
    font-size: 14px;
    border-bottom: none;
    color: #0e73a0;
}

.fade-enter{
  opacity: 0;
}
.fade-enter-active{
  opacity: 1;
  transition: opacity 300ms ease-out;
}
.fade-leave{
    opacity: 1;
}
.fade-leave-active{
  opacity: 0;
  transition: opacity 300ms ease-out;
}
.fade-appear{
  opacity: 0;
}
.fade-appear-active{
  opacity: 1;
  transition: opacity 1000ms ease-out;
}
.list-items li:first-child {
    border-radius: 4px 4px 0 0;
}

.list-items li:last-child {
    border-bottom: 1px solid #00BCD4;
    border-radius: 0 0 4px 4px;
}

.flip {
    animation: flip 2s ease-in-out alternate 2;
}

.slide {
    animation: slide 1s ease-in forwards;
}

.slideagain {
    animation: slideagain 1s ease-in forwards;
}
/* cart css */

#services{
    list-style: none;
    display: inline-block;
    width: 340px;
    text-align: left;
}

#services p{
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;

    transition: 0.3s;
}

#services p b{
    position: absolute;
    right: 28px;
    line-height: 16px;
    width: 100px;
    color: #808787;
    text-align: right;
}

#services p:hover{
    background-color:#d8f2f1;
}

#services p.active{
    color:#fff;
    background-color:#41c7c2;
}

#services p.active b{
    color: #fff;
}

#total{
    background: none !important;
    cursor: default !important;
    padding-top: 10px !important;
}
/* cart css */
@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100px);
    }
}

@keyframes slideagain {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}
